In [1296]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [1371]:
data = pd.read_csv('/home/iaan/Documents/SkillFactory/UNIT 1/Files/movie_bd_v5.xls')
data.describe()

# Preprocessing

In [1373]:
answers = {} # answers dictionary

# creating dublicates for each actor in the cast for the task 15
data_sep_cast = data.copy()
data_sep_cast['cast'] = data['cast'].str.split('|')
data_sep_cast = data_sep_cast.explode('cast')

#new df with a row for each genre of a movie
data_sep_genres = data.copy()
data_sep_genres['genres'] = data['genres'].str.split('|')
data_sep_genres = data_sep_genres.explode('genres')

#new df with a row for each production company of a movie
data_sep_comp = data.copy()
data_sep_comp['production_companies'] = data['production_companies'].str.split('|')
data_sep_comp = data_sep_comp.explode('production_companies')

# new df exploded by directors list:
data_sep_dir = data.copy()
data_sep_dir['director'] = data['director'].str.split('|')
data_sep_dir = data_sep_dir.explode('director')

budget_mean = round(data['budget'].mean()) # mean budget variable for the task 16

# added new column "profit" which displays movie profit (revenue - budget):
data.insert(3,'profit',data['revenue'] - data['budget'])

# added new column for task 21 contains just month taken from the release date:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

# adding new column with title and overview lengths for 24 and 25 tasks
data_sep_comp.insert(5,'title_length',title_length)
data_sep_comp.insert(10,'overview_length',overview_length)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. Movie with the biggest budget

In [1222]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [1381]:
data.loc[data[['budget']].idxmax()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,5

In [1223]:
#2
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. The longest movie

In [1224]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [110]:
data.loc[data[['runtime']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. The shortest movie

In [1225]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [111]:
data.loc[data[['runtime']].idxmin()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Mean runtime

In [114]:
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

In [1226]:
answers['4'] = '2. 110'
# +

# 5. Median runtime

In [117]:
round(data[['runtime']].median())

runtime    107.0
dtype: float64

In [1227]:
answers['5'] = '1. 107'
# +

# 6. The most profitable movie
#### (profit = revenue - budget)

In [154]:
data.loc[data[['profit']].idxmax()] # 'profit' column was added in preprocessing

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [1228]:
answers['6'] = '5. Avatar (tt0499549)'
# +

# 7. The least profitable movie

In [159]:
data.loc[data[['profit']].idxmin()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [1229]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. The number of profiable movies 
##### (revenue>budget)

In [177]:
data[data['profit']>0]['imdb_id'].count()

1478

In [1230]:
answers['8'] = '1. 1478'
# +

# 9. The most profitable movie in 2008

In [1374]:
data.loc[data[data['release_year'] == 2008][['profit']].idxmax()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
599,tt0468569,185000000,1001921825,816921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,7

In [1231]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

# 10. The least profitable movie inbetween 2012-2014

In [1382]:
data.groupby(['release_year','original_title'])['profit'].min()\
[[2012,2013,2014]].sort_values().head(1)

release_year  original_title
2013          The Lone Ranger   -165710090
Name: profit, dtype: int64

In [1232]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

# 11. The most common genre

In [1376]:
data_sep_genres['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [1233]:
answers['11'] = '3. Drama'
# +

# 12. The genres most likely to be profitable

In [1378]:
# new df with just 'genres' column ordered increasingly by profit:
df_profitable_genres = data.query('profit>0').sort_values(by='profit',
                           ascending=False)[['genres']]

df_profitable_genres['genres'] = df_profitable_genres['genres'].str.split('|') 
df_profitable_genres = df_profitable_genres.explode('genres')
Counter(df_profitable_genres['genres']).most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [1234]:
answers['12'] = '1. Drama'
# +

# 13. Director with the largest amount high-grossing films

In [323]:
data.groupby(['director']).revenue.sum().idxmax()

'Peter Jackson'

In [1235]:
answers['13'] = '5. Peter Jackson'
# +

# 14. Action movies directors

In [584]:
data_new = data[data['genres'].str.contains('Action')].copy()
data_new['director'] = data_new['director'].str.split('|')
data_new = data_new.explode('director')
Counter(data_new['director']).most_common(5)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

In [1236]:
answers['14'] = '3. Robert Rodriguez'
# +

# 15. High-grossing movies actors

In [602]:
df_20_profitable_2012 = data[(data['profit'] > 0) & (data['release_year'] == 2012)].head(20)
df_20_profitable_2012['cast'] = df_20_profitable_2012['cast'].str.split('|')
df_20_profitable_2012 = df_20_profitable_2012.explode('cast')
Counter(df_20_profitable_2012['cast']).most_common(5)

[('Chris Hemsworth', 2),
 ('Charlize Theron', 2),
 ('Denis Leary', 2),
 ('Robert Downey Jr.', 1),
 ('Chris Evans', 1)]

In [1237]:
answers['15'] = '3. Chris Hemsworth'
# +

# 16. The actor with largest number of high-budget movies

In [650]:
df_budget = data_sep_cast[data_sep_cast['budget'] > budget_mean]
df_budget['cast'].value_counts()[0]

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Sarah Gadon           1
Alexander Pollock     1
Chris O'Dowd          1
Tyler Hoechlin        1
Richard Briers        1
Name: cast, Length: 1505, dtype: int64

In [1238]:
answers['16'] = '3. Matt Damon'
# +

# 17. Genre Nicolas Cage is the most fond of

In [661]:
data_sep_genres[data_sep_genres['cast'].str.contains('Nicolas Cage')].value_counts('genres')

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [1239]:
answers['17'] = '2. Action'
# +

# 18. The least profitable Paramount Pictures movie

In [681]:
data_sep_comp[data_sep_comp['production_companies']
              == 'Paramount Pictures'].sort_values('profit')['original_title'].head(10)

925     K-19: The Widowmaker
1123                Timeline
1722                    Next
1623                   Alfie
1631                 Twisted
587     Domestic Disturbance
667            The Love Guru
1059        A Thousand Words
436              The Fighter
959                  Abandon
Name: original_title, dtype: object

In [1240]:
answers['18'] = '1. K-19: The Widowmaker'
# +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [690]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [1241]:
answers['19'] = '5. 2015'
# +

# 20. Warner Brosthers top-grossing years

In [938]:
warner_data = data[data.production_companies.str.contains('Warner Bros.')]
pd.pivot_table(warner_data,values='profit',index='release_year',
               columns='production_companies',aggfunc='sum',
               margins=True).sort_values('All',ascending=False)['All'].head(5)

release_year
All     24543602472
2014     2295464519
2007     2201675217
2008     2134595031
2010     1974712985
Name: All, dtype: int64

In [1242]:
answers['20'] = '1. 2014'
# +

# 21. The highest number of released movies month

In [891]:
Counter(data['release_month']).most_common(3)

[(9, 227), (12, 190), (10, 186)]

In [1243]:
answers['21'] = '4. Сентябрь'
# +

# 22. Summer months movies summary

In [924]:
data.query('release_month in [6,7,8]').count()

imdb_id                 450
budget                  450
revenue                 450
profit                  450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
release_month           450
dtype: int64

In [1244]:
answers['22'] = '2. 450'
# +

# 23. The most porductive directors during winter

In [1167]:
winter = [1,2,12] 
# taking data_sep_dir dataftame which was created in purpose of exploding list of the directors
winter_data = data_sep_dir.query('release_month in @winter')
winter_data.value_counts('director',ascending=False)#.head(3)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Length: 358, dtype: int64

In [1245]:
answers['23'] = '5. Peter Jackson'

# 24. The companies which name their filmes with the longest movie titles

In [1380]:
title_length = data_sep_comp['original_title'].str.len()
# ^ the column added in preprocessing
data_sep_comp.groupby(['production_companies'])['title_length']\
                            .mean().sort_values(ascending=False).head(5)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

In [1246]:
answers['24'] = '5. Four By Two Productions'

# 25. Which company movies descriptions are the longest in terms of word count?

In [1379]:
overview_length = [len(overview) for overview in data_sep_comp['overview'].str.split()]
# ^ the column added in preprocessing
data_sep_comp.groupby(['production_companies'])['overview_length']\
                            .mean().sort_values(ascending=False).head(5)

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_length, dtype: float64

In [1247]:
answers['25'] = '3. Midnight Picture Show'

# 26. 1 % of high-rating movies

In [1306]:
data_best = data.sort_values('vote_average',ascending=False)
data_best_1,data_best_99 = np.split(data_best, [int
                           (0.01*len(data_best))]) #splitting by 2 df (1%,99%)
data_best_1['original_title'] # 1% of best movies sorted by average vote

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

In [1248]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Actors casted together

In [1308]:
data['cast'].str.split('|').apply(lambda x: 
list(itertools.combinations(x, 2))).explode().value_counts()

(Daniel Radcliffe, Emma Watson)          8
(Daniel Radcliffe, Rupert Grint)         8
(Rupert Grint, Emma Watson)              7
(Johnny Depp, Helena Bonham Carter)      6
(Ben Stiller, Owen Wilson)               6
                                        ..
(Alison Brie, Jason Segel)               1
(Jake Abel, Sean Bean)                   1
(Jessica Chastain, Megan Charpentier)    1
(Hayley Atwell, Sebastian Stan)          1
(Bradley Cooper, Kyle Gallner)           1
Name: cast, Length: 18121, dtype: int64

In [1305]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [1369]:
answers

{'18': '1. K-19: The Widowmaker',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '23': '5. Peter Jackson',
 '19': '5. 2015',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [1370]:
# и убедиться что ни чего не пропустил)
len(answers)

27